/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/02/2015, 19:44:47
    Author     : willian
*/


#main{
width: 900px;
height:  1500px;
margin:		10px auto;
padding:	0px;
background: url(imagems/diversos1.jpg);
border-radius:		80px 80px 100px 100px;
box-shadow: #BEBEBE 5px 5px 5px 2px;



}



#banner{
width: 900px;
height: 200px;
margin: 0px;
padding: 0px;
border-radius: 80px 80px 0px 0px;




}

#banner h1{
text-align: center;
color: white;

}

#banner img{
		width:			880px;
		height:			190px;
		border-radius: 60px;
		margin: 5px -29px 0px 0px;
		
}

#titulo{
		width:					300px;
		height:					75px;	
		margin:					-190px 0px 0px 315px;
		float:					left;
		padding: 				0px;
		background-color:		skyblue;
		border-radius: 30px;
		box-shadow: white 0px 0px 10px;
		text-shadow:	blue 0px 0px 10px;
		
}

#fotocapa{
		width:					850px;
		height:					200px;	
		margin:					0px 0px 0px 10px;
		padding: 0px 0px 0px 0px;
		float:left;
		
		
}

#menu{
	width: 880px;
	height: 50px;
	margin: -6px 0px 0px 10px;
	padding: 0px;
	float:left;
	
	


}

#menu li{

display: inline;
list-style-type: none;
font-size: 23px;
margin: 0px 10px 0px 5px;
}

#menu li h3{
font-size:25px;
display: inline;
text-shadow:black 5px 0px 0px; /* não precisava ter criado o h3,poderia ter botado na propria LI */
}



#menu a{
	text-decoration:	none; /*para tirar o sublinhado dos links*/
	font-weight:		bold;		/*para deixar os link em negrito */
	font-family:		Verdana;
	color:				white;
	padding:			10px 30px;
	
	
   
}

#menu a:hover{
		color:				 #8B5A2B;
		background-color:	white;
		border-radius:	10px;
		
		
		

		
}

#meio{												/*COMEÇO DA DIV MEIO */
	width: 879px;
	height: 1080px;
	margin: 10px 0px 0px 10px;
	padding: 0px;
	background-color: #8B5A2B;
	float:left;
	
	
	
	
}

#meio h1{
text-align: center;
text-shadow:	black 5px 0px 5px;
color:white;
}

#meio p{
font-size: 19px;

}


#a{
	width: 500px;
	height: 700px;
	padding:0px;
	margin:30px 0px 0px 200px;
	background-color:white;
	border-style:groove;
	border-color:skyblue;
	box-shadow: #000000 5px 5px 5px 2px;
	float:left;
	overflow:auto;
	
	
}

#a ul{
	width:		auto;
	height:		auto;
	margin:		0px;
	padding:	0px;
	margin-top: 0px;
}

#a ul li{
		list-style:		none;  /*para tirar as bolinhas*/
		width:		auto;
		height:		auto;
		padding:	0px;
		margin: 30px 0px 0px 5px;
		
}

#a ul li p{
	
	margin:20px;
	
	
}

#a ul li a{
		text-decoration:		none; 	/*tira o sublinhado*/
		color:					black;
		font-family:			Verdana;
		font-size:				18px;
		font-style: italic;
		
}

#a a:hover{
		color:				white;
		background-color:	#006400;
		border-style:groove;
		border-color:#ADFF2F ;
		
}




#rodape{										/* COMEÇO DA DIV RODAPE */
width: 300px;
height:300px;
margin: 0px 0px 0px 0px;
padding: 0px;
float:left;

}

#menur{											/* COMEÇO DA DIV MENUR */
		width:		879px;
		height:		150px;
		margin: 0px 0px 0px 10px;
		padding:	0px;
		float: left;
		background-color: white;
		border-radius: 0px 0px 100px 100px;
		
		
		
}

#menur ul{
		width:		auto;
		height:		auto;
		margin:		0px;
		padding:	0px;
		margin-top: 50px;
}

#menur ul li{
		list-style:		none;  /*para tirar as bolinhas*/
		width:		auto;
		height:		auto;
		padding:	0px;
		margin:		0px 40px 0px 80px;
		display:	inline;		/*para fikar na horizontal*/
}

#menur ul li a{
		text-decoration:		none; 	/*tira o sublinhado*/
		color:					black;
		font-family:			Verdana;
		font-size:				18px;
		font-style: italic;
		
}

#menur ul li a:hover{
		opacity: 0.5;				/*quando passar o mouse vai fikar mais claro de 0.0 ate 1*/

}



#centro{
	width: 750px;
	height: 800px;
	padding:0px 0px 0px 0px;
	margin: 60px 0px 0px 70px;
	background-color:white;
	border-radius: 60px;
	border-style: double;
	box-shadow: black 5px 5px 5px 0px;
	float:left;
	overflow:auto;
	

}
#centro p{
	font-size:20px;
	margin:0px 30px 0px 20px;

}

#centro h2{
	text-align:center;
	border-style:double;
	width:200px;
	height:40px;
	float:left;
	margin: 0px 0px 0px 150px;
	box-shadow:black 3px 2px 1px;
	

}




#centro img{
	width:200px;
	height:200px;
	padding:0px;
	
	border-radius:70px;
	border-style:double;
	border-color: blue;
	box-shadow: black 2px 2px 2px;
	

}



#form{
	width:400px;
	height:530px;
	margin:15px 40px 0px 0px;
	padding:0px 0px 0px 0px;
	border-style:double;
	border-color:blue;
	box-shadow:black 3px 2px 1px;
	float:right;
	
	
	

}
#form label p{
	text-align:left;
	margin:0px 0px 0px;
	color:blue;

}



.estiloin{
    margin:10px 0px 10px 15px;
	width:300px;
	box-shadow:blue 0px 1px 1px;
	color:blue;
	font-size:20px;
}

.estiloin2{
    margin:-25px -15px 0px 0px;
	float:left;
	width:400px;
	height:50px;
    background-color:gray;
	color:blue;
	font-size:20px;
	
}
.estilo3{
	font-size:20px;
}

#form textarea{
	width:400px;
	height:260px;
	margin:20px 70px 0px 0px;
    border-color:blue;
	box-shadow:black 0px 1px 1px;
	color:blue;
	font-size:20px;
	
}


#louvores{
	margin: 20px 0px 0px 40px;
	

}


#corinho{
	margin:20px 0px 0px 25px;
	
}

#sabedoria{
	margin:20px 0px 0px 25px;
	
}


.class1{
	float:left;
	margin:15px 10px 15px 25px;
	width: 200px;
	height:200px;
	padding:0px;
	border-radius:70px;
	border-style: inset;
	box-shadow: black 1px 1px 1px 1px;
	
}

.class2{
float:left;
margin:252px 0px 0px -210px;
width: 200px;
height:200px;
padding:0px;
border-radius:70px;
border-style: inset;
box-shadow: black 1px 1px 1px 1px;


}

.estilop{
 font-size:15px;
 color:blue;

}


