* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}

body{
	background-color: white;
}



#main{
	width: 100%;
	height: auto;
	background-image: url("../images/imagem1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 80px 80px 0px 0px;
	

}

.banner h1{
	font-family: verdana;
	text-align: center;
	text-shadow: 1px 0px 2px white;


}


.bannerlogo {
	
	
	border-radius: 100px;


}



.banner img{
	
	
	width: 100%;
	height: auto;
	background-color: white;
	box-shadow: 5px 5px 5px black;
	
	
	
	
}
	
	
.meio img{
	width: 100%;
	height: 200px;
	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
	border-radius: 50px;
	


}

.meio img:hover{
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
	box-shadow: 5px 2px 5px black;
	
	


}


.meio h1{
	font-family: verdana;
	text-align: center;
	text-shadow: 3px 3px 3px white;


}

.meio h2{
	font-family: verdana;
	text-align: center;
	text-shadow: 3px 3px 3px white;


}

.meio p{
	font-size: 18px;
	

}

.meio a{
    
    color:blue;
	text-decoration:none;
   
}



.header {
    
    color: white;
    padding: 15px;
}

.header  img{
     width: 100%;
     height: auto;
}



.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.menu li {
    padding: 8px;
	margin-bottom: 20px;
	color:black;
	text-shadow: 5px 5px 20px #8B4513;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	text-align:center;
	
	
}
.menu li:hover {
	
	color:white;
    background-color: #8B4513;
	text-shadow: 5px 5px 5px black;
	box-shadow: 5px 2px 5px black;
	
}




.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	margin-bottom: 15px;
}






/* --------------------------------------------------------    PAGINA QUEM SOMOS  ---------------------------------------------  */




.meio2 img{
	width: 100%;
	height: 600px;
	border-radius: 20px;
	box-shadow: 5px 2px 5px black;
	


}



.meio2 h1{
	font-family: verdana;
	text-align: center;
	text-shadow: 1px 0px 2px white;


}

.meio2 h2{
	font-family: verdana;
	text-align: center;
	text-shadow: 3px 3px 3px white;


}



.meio2 p{
	font-size: 18px;
	background-color: white;
	padding: 5px;
}


/*  ----------------------------------------------------------    CONTATO   ----------------------------------------------------------------*/




.meio3 img{
	width: 100%;
	height: 300px;
	border-radius: 20px;
	box-shadow: 5px 2px 5px black;
	


}



.meio3 h1{
	font-family: verdana;
	text-align: center;
	text-shadow: 1px 0px 2px white;


}

.meio3 h2{
	font-family: verdana;
	text-align: center;
	text-shadow: 3px 3px 3px white;


}



.meio3 p{
	font-size: 18px;
	border: 1px solid #000000;
	background-color: white;
	
}

.conteudo{
	
	background-color: white;
	border-radius: 30px;
	margin: 5px;
	margin-bottom: 10px;
	
	
	
}

.conteudo img{
	
	width: 100%;
        height: 450px;
	
	
	
}


input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

.botao{
	font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#638cb5;
        border:0px;
        width:80px;
        height:19px;
}





/*  ----------------------------------------------------------    RODAPE   ----------------------------------------------------------------*/




.footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

.footer a{
    
    color:black;
	text-decoration:none;
   
}

.footer a:hover{
    color:white;
    
   
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; /* ATENÇÃO! Se não tiver esse padding,o menu na hora de redenizar  as opções ficaram uma sobre a outra. */
}



.footer li {
    padding: 8px;
	margin: 10px;
	color:black;
	background-color: white;
	text-shadow: 5px 5px 20px #8B4513;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	text-align:center;
	display:inline;
	border-radius: 30px;
	
	
}
.footer li:hover {
	
	color:white;
    background-color: #8B8682;
	text-shadow: 5px 5px 5px black;
	box-shadow: 5px 2px 5px black;
	
}



/* Para  desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* Para mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

