/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/05/2016, 10:45:51
    Author     : Willian
*/



* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
    background-image: url("../img/plano1.jpg");
}


.main{
	width: 100%;
	height: auto;
        background-color: white;
	background-size: 100% 100%;
	border-radius: 80px 80px 0px 0px;
}



.menu_lateral{
    
    width: 100%;
    height: auto;
    padding: 15px;
    
}

.menu_lateral img{
    width: 100%;
    height: 200px;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
   border-radius: 50px;
    
}


.menu_lateral img:hover{
     opacity: 1.0;
     filter: alpha(opacity=100); /* For IE8 and earlier */
     box-shadow: 5px 2px 5px black;
    
}


.menu_lateral p{
   text-align: center;
   font-family: "Times New Roman", Times, serif;
 }




.menu_lateral a{
   text-decoration: none;
   color: black;
   text-shadow: 3px 3px 3px white;
}

.menu_lateral a:hover{
    color: white;
}


.menu_lateral ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
}




.menu_lateral li{
    text-align:center;	
    padding: 15px;
       
    
}

.menu_lateral li:hover{
    width: 100%;
    height: auto;
    background-color: orange;
  }



.rodape{
    
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: orange;
    border-radius: 0px 0px 45px 45px;
    text-align: center;
    
    
}

.rodape img{
    width: 100%;
    height: 200px;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    border-radius: 50px;
 }


.rodape img:hover{
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    box-shadow: 5px 2px 5px black;
   
}


.rodape a{
   text-decoration: none;
   color: white;
   text-shadow: 5px 5px 5px black;    
}


.rodape a:hover{
  color: white;    
}


.rodape ul{
    
        list-style: none;
        margin: 0px;
        padding: 0px;
    
}


.rodape li{
    
    font-size: 16px;
    width: 100%;
    height: auto;
    padding-bottom: 25px;
   
    
}


.rodape li:hover{
    width: 100%;
    height: auto;
    background-color: black;
    border-radius: 30px;
    box-shadow: 5px 2px 5px black;
    
}



.rodapeicons{
    
    width: 100%;   
    
}


.rodapeicons img{
      width: 30%;    
}






/* Para  desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* Para mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
